
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}
.abc {
  
   background: linear-gradient(141deg, #0fb8ad 10%, #1fc8db 51%, #2cb5e8 65%);
    color: white;
   border-radius: .28571429rem;
   padding-bottom:2%;
   padding-top:2%;
   text-align:center;
}